<%- include("header") %>
    <div class="box" id="heading">
        <h1>
            <%= Title %>
        </h1>
    </div>

    <div class="box">

        <%for(let i of addedItems){%>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkBox" value="<%= i._id %> <%= Title %>" onChange="this.form.submit()">
                    <p>
                        <%= i.name %>
                    </p>

                </div>
            </form>

            <% } %>
                <form class="item" action="/" method="post">
                    <input autofocus type="text" name="newItem" placeholder="enter the new Item" autocomplete="off">
                    <button type="submit" name="submitButton" value="<%= Title %>">+</button>
                </form>
    </div>
    <%- include("footer") %>